.top-card, .accordion-card {
    border-radius: 0;
    font-family: "YsabeauSCLight";
}

.accordion-card {
    margin: 2%;
}

.card1-img, .card1, .top-card-img {
    border-radius: 0;
}

.accordion1-header {
    background-color: #212529;
}

.day1-wrapper{
    background-color: #9ea3ab;
}

.day2-wrapper{
    background-color: #AB9EA3;
}

.day3-wrapper{
    background-color: #9395B8;
}

.day4-wrapper{
    background-color: #EBCBA1;
}

.day5-wrapper{
    background-color: #87A4B2;
}

.card-title {
    font-weight: 600;
    text-align: center;
}

.link-text{
    color: rgb(255, 255, 255);
}

.blue-link-text {
    color: rgb(30, 142, 183);
}

.block-title, .block-title-small, .block-title-smallest {
    color: rgb(0, 0, 0);
    font-family: "YsabeauSCLight";
    text-align: center;
    margin: 0;
}

.block-title {
    font-size: 3rem;
}

.block-title-small {
    font-size: 2.7rem;
}

.block-title-smallest {
    font-size: 2.5rem;
}

.homlin-link {
    margin: 5% 5% 0 5%;
}

.homlin-link-V {
    margin: 5%;
}

.attention-img {
    margin-top: 10px;
    width: 7%;
    float: left;
    margin-right: 20px; 
}

html {
    scroll-padding-top: 60px !important; 
}