.hero-section {
  position: relative;
  z-index: 1;
  max-height: 100vh;
  width: auto;
}

.background-container {
  max-height: 100vh;
  width: auto;
}

.back1 {
  width: 100%;
}

.content-overlay {
  position: absolute;
  width: 85%;
  left: 2rem;
  top: 1rem;
}

.main-text-left {
  font-family: "YsabeauSCLight";
  color: white;
  font-weight: 100;
  font-size: 1.3rem;
  margin: 0;
}

.ticket {
    transform: rotate(-8deg);
    width: 130%;
}

.main-text-right {
  text-align: end;
  font-family: "YsabeauSCLight";
  color: white;
  font-weight: 100;
  font-size: 1.3rem;
}

.animation {
  position: absolute;
  width: 100%;
  top: 27rem;
  overflow: hidden;
}

.animation1 {
  animation-duration: 10s;
  animation-name: slidein1;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slidein1 {
  from {
    margin-left: -20%;
    width: 10%;
    margin-top: 20%;
  }

  30% {
    /* margin-left: 50%; */
    width: 100%;
    margin-top: 0%;
  }

  to {
    margin-left: 120%;
    width: 10%;
    margin-top: 20%;
  }
}

.animation2 {
  padding-top:45%;
  animation-duration: 10s;
  animation-name: slidein2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

@keyframes slidein2 {
  from {
    margin-left: -20%;
    width: 10%;
    margin-top: 0%;
  }

  60% {
    width: 100%;
    margin-top: 20%;
  }

  to {
    margin-left: 120%;
    width: 10%;
    margin-top: 0%;
  }
}

.plane-image2 {
  transform:  scaleX(-1);
}



