/* Для navbar */
.navbar {
  position: relative; /* Это нужно для абсолютного позиционирования дочернего меню */
  padding: 2% !important;
}

/* Для раскрывающегося меню */
.myNavbar {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color:#212529;
  z-index: 1000;
  padding: 2%;
}

.header {
  color: white !important;
}