.navbar {
  position: relative;
  padding: 2% !important;
  position: sticky;
}

.header {
  text-decoration: none;
  color: rgb(161, 161, 161);
}

.link-text{
  color: rgb(255, 255, 255);
  text-decoration: none;
}